.card-list {
  background-color: inherit;
  max-width: 1140px;
  margin: 0 auto;
}

.card-list__wrapper {
  margin: 70px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 38px 20px;
}
