.movie-card {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card__image {
  width: 270px;
}

.movie-card__caption-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding-top: 14px;
  padding-bottom: 13px;
  height: 32px;

}

.movie-card__caption {
  margin: 0;
  margin-top: 4px;
  max-width: 226px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.movie-card__like-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: #313131;
  background-image: url('../../images/icon__like.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.movie-card__like-btn:hover {
  opacity: .8;
}

.movie-card__like-btn_active {
  background-image: url('../../images/icon__like_active.svg');
}

.movie-card__duration {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #8B8B8B;
  margin: 0;
  margin-top: 6px;

}

