.more {
  background-color: inherit;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-height: 166px;
}

.more__btn {
  margin: 50px 0 80px;
  width: 320px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 6px;
  color: inherit;
  padding: 60px;
  padding-top: 11px;
  padding-bottom: 9px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.more__btn_hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .more__btn {
    width: 240px;
    padding: 11px 20px 9px 20px;
  }
  .more__btn_hidden {
    padding: 0;
    margin: 60px 0 80px;

  }

}
