.navigation {
  width: 100%;
  margin: auto 0;
  display: block;
}

.navigation__wrapper {
  height: 32px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: inherit;
  padding: 0;
  margin: auto 0;

}

.navigation__items {
  display: inline-flex;
  justify-content: flex-start;
  gap: 16px;
  margin: auto 0;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__btn {
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #202020;
  border-radius: 40px;
  outline: none;
  padding-left: 11px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  margin: auto 0;
  height: 32px;
}

.navigation__btn_theme_main {
  border: 2px solid #F5F5F5;
}


.navigation__btn_active {
  border: 2px solid #F5F5F5;
}

.navigation__btn-text {
  margin: 0;
}

.navigation__btn-icon {
  width: 26px;
  height: 26px;
  background-image: url('../../images/profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-color: #313131;
  border: none;
  border-radius: 50%;

}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}
