.profile__actions_save {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 15px;
  color: inherit;
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.profile__actions_save:hover {
  opacity: .8;
}
